body {
  background-color: #DADADA;
  font-size: 20px;
}

/* adjust box-sizing for all content */
*::before, *::after { box-sizing: border-box; }

h1 {
  font-weight: normal;
}

div {
  display: block;
  float: left;
  text-align: center;
}

.emphasis {
  font-family: Sans-Serif;
  font-size: 13px;
  letter-spacing: 2px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

.location_img {
  width: 100%;
  height: 230px;
}

.preview {
  position: relative;
}

.title {
  position: absolute;
  top: 25px;
  left: 25px;
}

@media screen and (min-width: 575px){
  div {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
  div {
    margin: 2%;
    width: 20%;
  }
}
